<form action="" class="default--form login--form">
    <div class="input--wrapper">
            <input type="email" name="" id="" placeholder="Titre">
        </div>
   <div class="input--wrapper">
        <input type="password" name="" id="" placeholder="Iimage de couverture">
</div>
    <input class="btn btn--secondary" type="submit" value="Suivant">
</form>