<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <title>Document</title>
</head>
<body>
    <header class="main--header">
        <div class="logo--wrapper">
            <a href="/" class="logo--wrapper">
                <img src="images/hfablab_logo_dark.png" alt="" srcset="">
            </a>
        </div>
        
        <nav class="navbar">
            <div class="logo_item">
              <i class="bx bx-menu" id="sidebarOpen"></i>
              
            </div>
            
            <div class="navbar_content">
              <i class="bi bi-grid"></i>
              <i class='bx bx-sun' id="darkLight"></i>
              <i class='bx bx-bell' ></i>
              <img src="images/profile.jpg" alt="" class="profile" />
            </div>
          </nav>
          <!-- sidebar -->
          <nav class="sidebar">
            <div class="menu_content">
              <ul class="menu_items">
                <!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
                <!-- start -->
                <li class="item">
                  <a href="/" class="nav_link">
                    <span class="navlink_icon">
                      <i class="bx bx-home-alt"></i>
                    </span>
                    <span class="navlink">Dashboard</span>
                  </a>
                </li>
                <li class="item">
                  <a href="#" class="nav_link">
                    <span class="navlink_icon">
                      <i class='bx bx-group'></i>
                    </span>
                    <span class="navlink">Membres</span>
                  </a>
                </li>
                <!-- end -->
                <!-- duplicate this li tag if you want to add or remove  navlink with submenu -->
                <!-- start -->
                <li class="item">
                  <div href="#" class="nav_link submenu_item">
                    <span class="navlink_icon">
                      <i class="bx bx-grid-alt"></i>
                    </span>
                    <span class="navlink">Equipements</span>
                    <i class="bx bx-chevron-right arrow-left"></i>
                  </div>
                  <ul class="menu_items submenu">
                    <a href="/equipements" class="nav_link sublink">Liste</a>
                    <a href="#" class="nav_link sublink">Reservation</a>
                  </ul>
                </li>
                <!-- end -->
              </ul>
              <ul class="menu_items">
                <!-- duplicate these li tag if you want to add or remove navlink only -->
               
                <li class="item">
                  <a href="#" class="nav_link">
                    <span class="navlink_icon">
                      <i class='bx bx-hive'></i>
                    </span>
                    <span class="navlink">Ateliers</span>
                  </a>
                </li>
                <li class="item">
                  <a href="/agenda" class="nav_link">
                    <span class="navlink_icon">
                      <i class='bx bx-calendar-check'></i>
                    </span>
                    <span class="navlink">Agenda</span>
                  </a>
                </li>
                <li class="item">
                  <a href="/projets" class="nav_link">
                    <span class="navlink_icon">
                      <i class='bx bx-rocket'></i>
                    </span>
                    <span class="navlink">Projets</span>
                  </a>
                </li>
              </ul>
              <ul class="menu_items">
                <li class="item">
                  <a href="#" class="nav_link">
                    <span class="navlink_icon">
                      <i class='bx bx-chat'></i>
                    </span>
                    <span class="navlink">Messages</span>
                  </a>
                </li>

                <li class="item">
                  <a href="/blog" class="nav_link">
                    <span class="navlink_icon">
                      <i class='bx bx-news'></i>
                    </span>
                    <span class="navlink">Blog</span>
                  </a>
                </li>
                <li class="item">
                  <a href="#" class="nav_link">
                    <span class="navlink_icon">
                      <i class='bx bx-donate-heart' ></i>
                    </span>
                    <span class="navlink">Dons</span>
                  </a>
                </li>
                <li class="item">
                  <a href="#" class="nav_link">
                    <span class="navlink_icon">
                      <i class='bx bxs-user-detail'></i>
                    </span>
                    <span class="navlink">Comptes</span>
                  </a>
                </li>
                <li class="item">
                  <a href="/documentation" class="nav_link">
                    <span class="navlink_icon">
                      <i class='bx bx-library'></i>
                    </span>
                    <span class="navlink">Documentation</span>
                  </a>
                </li>
                 <!-- Start -->
                 <li class="item">
                  <a href="#" class="nav_link">
                    <span class="navlink_icon">
                      <i class="bx bxs-magic-wand"></i>
                    </span>
                    <span class="navlink">Editeur</span>
                  </a>
                </li>
                <!-- End -->
              </ul>
              <!-- Sidebar Open / Close -->
              <div class="bottom_content">
                <div class="bottom expand_sidebar">
                  <!-- <span> Expand</span> -->
                  <!-- <i class='bx bx-log-in' ></i> -->
                </div>
                <div class="bottom collapse_sidebar">
                  <span> Se déconnecter</span>
                  <i class='bx bx-log-out'></i>
                </div>
              </div>
            </div>
          </nav>
        
    </header>