<%- include('partials/main__header') %>
    <div class="main--content__wrapper">
      <%- include('partials/section__header') %>
        <div class="main--content">
          <div class="content--header">
             <h4 class="content--title">Liste des inscriptions</h4>
             <div class="actions--group">
                <form class="search--bar" action="/form/submit" method="GET">
                  <input type="search" name="" class="search--input" placeholder="Rechercher">
                  <button class="button">Sea<i class='bx bx-search-alt-2' ></i></button>
                </form>
                  <div class="header--actions button-container">
                    <div class='a-button -outline center'>Touch me <i></i> </div>
                    <div class='a-button -dark center'>Let's start</div>
                  </div>
             </div>
          </div> 
          
          
             <div class="table--wrapper event-registration">
              <div class="data-table ">
                <div class="table--header">
                  <div class="table--row">
                   <div class="table-h cell-01">Nom</div>
                   <div class="table-h cell-02">Date</div>
                   <div class="table-h cell-03">Sujet</div>
                   <div class="table-h cell-04">Action</div>
                  </div>
                </div>
                <div class="table--body">
                   <div class="table--row">
                    <div class="name--cell">
                        <div class="name--wrap name--label">
                          <span class="square--label label--01">
                            PL
                          </span>
                        </div>
                      <div class="name-group">
                        <span class="name">Marc Doe</span>
                        <span class="email">marcdoe@gmail.com</span>
                      </div>
                    </div>
                    <div class="date--cell">09 Sept 2023</div>
                    <div class="object--cell">Project manager</div>
                    <div class="actions-call">
                        <span class="icon--wrapper">
                          <a href="http://" class="a-button a-button -dark center">a
                            <i class='bx bx-edit-alt'></i>
                          </a>
                        </span>
                        <span class="icon--wrapper">
                          <i class='bx bx-trash-alt' ></i>
                        </span>
                    </div>
                   </div>
                   <div class="table--row">
                  <div class="name--cell">
                      <div class="name--wrap name--label">
                        <span class="square--label label--01">
                          PL
                        </span>
                      </div>
                    <div class="name-group">
                      <span class="name">Marc Doe</span>
                      <span class="email">marcdoe@gmail.com</span>
                    </div>
                  </div>
                  <div class="date--cell">09 Sept 2023</div>
                  <div class="object--cell">Project manager</div>
                    <div class="actions-call">
                      
                        <span class="icon--wrapper">
                          <i class='bx bx-edit-alt'> a</i>
                        </span>
                        <span class="icon--wrapper">
                          <i class='bx bx-trash-alt'>3</i>
                        </span>
                    </div>
                   </div>
                   <div class="table--row">
                    <div class="name--cell">
                      <div class="name--wrap name--label">
                        <span class="square--label label--02">
                          PL
                        </span>
                      </div>
                    <div class="name-group">
                      <span class="name">Marc Doe</span>
                      <span class="email">marcdoe@gmail.com</span>
                    </div>
                  </div>
                  <div class="date--cell">09 Sept 2023</div>
                  <div class="object--cell">Project manager</div>
                    <div class="actions-call">
                        <span class="icon--wrapper">
                          <i class='bx bx-edit-alt'></i>
                        </span>
                        <span class="icon--wrapper">
                          <i class='bx bx-trash-alt' ></i>
                        </span>
                    </div>
                   </div>
                <div>
              </table>
             </div>

           <!-- <div>
            <div class="content--nav">
              <a class="tab--link active" href="http://">Projets listes </a>
              <a class="tab--link " href="http://">Impression 3D </a>
              <a class="tab--link " href="http://">Electronique </a>
              <a class="tab--link " href="http://">Projets listes </a>
              <a class="tab--link " href="http://">Projets listes </a>
              <a class="tab--link " href="http://">Projets listes </a>
              <a class="tab--link " href="http://">Projets listes </a>
              <a class="tab--link " href="http://">Projets listes </a>
              <a class="tab--link " href="http://">Projets listes </a>
           </div>

            <div class="table--wrapper workshop-registration">
             <div> class="data-table ">
               <div class="table--header">
                  <div class="table--row">
                    <div class="table-h">Nom</div>
                    <div class="table-h">Date</div>
                    <div class="table-h">Titre de l'atelier</div>
                    <div class="table-h">Action</div>
                  </div>
               </div>
               <div class="table--body">
                  <div class="table--row">
                   <div class="name--cell">
                     <div class="name--cell name--label">
                       <span class="rounded--label label--01">
                          PL
                       </span>
                      </div>
                     <div class="name-group">
                       <span class="name">Marc Doe</span>
                       <span class="email">marcdoe@gmail.com</span>
                     </div>
                   </div>
                   <div class="date--cell">50mt</div>
                   <div class="object--cell">9mm</div>
                   <div class="actions-call">
                       <span class="icon--wrapper">
                         <i class='bx bx-edit-alt'></i>
                       </span>
                       <span class="icon--wrapper">
                         <i class='bx bx-trash-alt' ></i>
                       </span>
                   </div>
                  </div>
                  <div class="table--row">
                   <div class="name--cell">
                     <div class="name--cell name--label">
                      <span class="rounded--label label--01">
                         PL
                      </span>
                     </div>
                     <div class="name-group">
                       <span class="name">Marc Doe</span>
                       <span class="email">marcdoe@gmail.com</span>
                     </div>
                   </div>
                   <div class="date--cell">50mt</div>
                   <div class="object--cell">9mm</div>
                   <div class="actions-call">
                       <span class="icon--wrapper">
                         <i class='bx bx-edit-alt'></i>
                       </span>
                       <span class="icon--wrapper">
                         <i class='bx bx-trash-alt' ></i>
                       </span>
                   </div>
                  </div>
                  <div class="table--row">
                   <div class="name--cell">
                     <div class="name--cell name--label">
                       <span class="rounded--label label--01">
                          PL
                       </span>
                      </div>
                     <div class="name-group">
                       <span class="name">Marc Doe</span>
                       <span class="email">marcdoe@gmail.com</span>
                     </div>
                   </div>
                   <div class="date--cell">50mt</div>
                   <div class="object--cell">9mm</div>
                   <div class="actions-call">
                       <span class="icon--wrapper">
                         <i class='bx bx-edit-alt'></i>
                       </span>
                       <span class="icon--wrapper">
                         <i class='bx bx-trash-alt' ></i>
                       </span>
                   </div>
                  </div>
               <div>
             <div>/>
            </div>
           </div>

           <div>
              <div class="donations--header">
                <div class="content--nav">
                  <a class="tab--link active" href="http://">Dons financier </a>
                  <a class="tab--link " href="http://">Don en nature</a>
               </div>

               <div class="btn--group">
                <a class="btn btn--primary" href="">
                  <i class='bx bx-trash-alt' ></i>
                  Supprimer
                </a>
               </div>
              </div>

              <div class="table--wrapper donation--list">
              <div> class="data-table ">
                <div class="table--header">
                   <div class="table--row">
                   <div class="table-h">#</div>
                   <div class="table-h">Nom</div>
                   <div class="table-h">Mail</div>
                   <div class="table-h">Montant</div>
                   <div class="table-h">Date de transaction</div>
                   </div>
                </div>
                <div class="table--body">
                   <div class="table--row">
                    <div class="select-box">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3"></label>
                    </div>
                    </div>
                    <div class="name--cell">
                      <div class="name--cell name--label">
                        <span class="rounded--label icon--label label--01">
                          <i class='bx bx-user' ></i>
                        </span>
                        </div>
                      <div class="name-group">
                        <span class="name">Marc Doe</span>
                      </div>
                    </div>
                    <div class="mail--cell">
                      <span class="email">marcdoe@gmail.com</span>
                    </div>
                    <div class="object--cell">9mm</div>
                    <div class="actions-call">
                        <span class="icon--wrapper">
                          <i class='bx bx-edit-alt'></i>
                        </span>
                        <span class="icon--wrapper">
                          <i class='bx bx-trash-alt' ></i>
                        </span>
                    </div>
                   </div>
                   <div class="table--row">
                    <div class="select-box">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3"></label>
                    </div>
                    <div class="name--cell">
                      <div class="name--cell name--label">
                        <span class="rounded--label label--01">
                          PL
                        </span>
                      </div>
                      <div class="name-group">
                        <span class="name">Marc Doe</span>
                        <span class="email">marcdoe@gmail.com</span>
                      </div>
                    </div>
                    <div class="date--cell">50mt</div>
                    <div class="object--cell">9mm</div>
                    <div class="actions-call">
                        <span class="icon--wrapper">
                          <i class='bx bx-edit-alt'></i>
                        </span>
                        <span class="icon--wrapper">
                          <i class='bx bx-trash-alt' ></i>
                        </span>
                    </div>
                   </div>
                   <div class="table--row">
                    <div class="select-box">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3"></label>
                    </div>
                    <div class="name--cell">
                      <div class="name--cell name--label">
                        <span class="rounded--label label--01">
                            PL
                        </span>
                        </div>
                      <div class="name-group">
                        <span class="name">Marc Doe</span>
                        <span class="email">marcdoe@gmail.com</span>
                      </div>
                    </div>
                    <div class="date--cell">50mt</div>
                    <div class="object--cell">9mm</div>
                    <div class="actions-call">
                        <span class="icon--wrapper">
                          <i class='bx bx-edit-alt'></i>
                        </span>
                        <span class="icon--wrapper">
                          <i class='bx bx-trash-alt' ></i>
                        </span>
                    </div>
                   </div>
                <div>
              <div>/>
              </div>
           </div>

           <div>
              <div class="members--list__header">
                  <div class="content--nav">
                      <div class="header--subtitle">
                        <h5>Liste des memebres</h5>
                      </div>
                  </div>

                  <div class="content--header__actions--group">
                      <form class="search--bar" action="/form/submit" method="GET">
                        <input type="search" name="" class="search--input" placeholder="Rechercher">
                        <button class="button"><i class='bx bx-search-alt-2' ></i></button>
                      </form>
                  
                      <div class="btn--group">
                          <a class="btn btn--primary" href="">
                            <i class='bx bx-trash-alt' ></i>
                            Supprimer
                          </a>

                          <a class="btn btn--primary" href="">
                            <i class='bx bx-trash-alt' ></i>
                            Supprimer
                          </a>
                      </div>
                  </div>
              </div>

              <div class="table--wrapper members--list">
                <div> class="data-table ">
                  <div class="table--body">
                    <tr class="up-to-date"> 
                      <div class="select-box">
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck3">
                              <label class="custom-control-label" for="customCheck3"></label>
                          </div>
                      </div>
                      <div class="name--cell">
                        <div class="name--cell name--label">
                          <span class="rounded--label icon--label label--01">
                              g
                          </span>
                        </div>
                        <div class="name-group">
                          <span class="name">Marc Doe</span>
                          <span class="email">marcdoe@gmail.com</span>
                        </div>
                      </div>
                      <div class="mail--cell">
                        788853399988
                      </div>
                      <div class="object--cell">
                         <span class="subscription">Abonnement</span>
                         <span class="subscription--state">Periodique</span>
                      </div>
                      <div class="actions-call">
                          <span class="icon--wrapper">
                            <i class='bx bx-edit-alt'></i>
                          </span>
                          <span class="icon--wrapper">
                            <i class='bx bx-trash-alt' ></i>
                          </span>
                      </div>
                     </div>

                    <tr class="unverified">
                    <div class="select-box">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3"></label>
                    </div>
                      <div class="name--cell">
                        <div class="name--cell name--label">
                        <span class="rounded--label label--01">
                          <i class='bx bx-user' ></i>
                        </span>
                        </div>
                        <div class="name-group">
                          <span class="name">Marc Doe</span>
                          <span class="email">marcdoe@gmail.com</span>
                        </div>
                      </div>
                      <div class="date--cell">50mt</div>
                      <div class="object--cell">9mm</div>
                      <div class="actions-call">
                          <span class="icon--wrapper">
                            <i class='bx bx-edit-alt'></i>
                          </span>
                          <span class="icon--wrapper">
                            <i class='bx bx-trash-alt' ></i>
                          </span>
                      </div>
                     </div>
                     <div class="table--row">
                    <div class="select-box">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                        <label class="custom-control-label" for="customCheck3"></label>
                    </div>
                      <div class="name--cell">
                        <div class="name--cell name--label">
                          <span class="rounded--label label--01">
                            <i class='bx bx-user' ></i>
                          </span>
                        </div>
                        <div class="name-group">
                          <span class="name">Marc Doe</span>
                          <span class="email">marcdoe@gmail.com</span>
                        </div>
                      </div>
                      <div class="date--cell">50mt</div>
                      <div class="object--cell">9mm</div>
                      <div class="actions-call">
                          <span class="icon--wrapper">
                            <i class='bx bx-edit-alt'></i>
                          </span>
                          <span class="icon--wrapper">
                            <i class='bx bx-trash-alt' ></i>
                          </span>
                      </div>
                     </div>
                  <div>
                <div>/>
              </div>
           </div>

           <div class="table--wrapper message--list">
            <div> class="data-table ">
              <div class="table--header">
                 <div class="table--row">
                 <div class="table-h"> 
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label" for="customCheck3">3</label>
                  </div>
                  </div>
                 <div class="table-h">Nom</div>
                 <div class="table-h">Date</div>
                 <div class="table-h">Sujet</div>
                 <div class="table-h">Action</div>
                 </div>
              </div>
              <div class="table--body">
                 <div class="table--row">
                  <div class="select-box">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label" for="customCheck3">3</label>
                  </div>
                  </div>
                  <div class="name--cell">
                    <div class="name--cell name--label">
                      <span class="square--label label--01">
                         PL
                      </span>
                     </div>
                    <div class="name-group">
                      <span class="name">Marc Doe</span>
                      <span class="email">marcdoe@gmail.com</span>
                    </div>
                  </div>
                  <div class="date--cell">50mt</div>
                  <div class="object--cell">9mm</div>
                  <div class="actions-call">
                      <span class="icon--wrapper">
                        <i class='bx bx-edit-alt'></i>
                      </span>
                      <span class="icon--wrapper">
                        <i class='bx bx-trash-alt' ></i>
                      </span>
                  </div>

                  <div class="expandable--cell ">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, eligendi modi? Consectetur reprehenderit inventore a!

                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui beatae delectus eaque esse ipsa vero debitis earum adipisci, temporibus iusto aspernatur obcaecati voluptatem unde magnam, voluptatibus eveniet consectetur quidem. Magnam.
                    </p>
                  </div>
                 </div>
                 <div class="table--row">
                  <div class="select-box">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label" for="customCheck3">3</label>
                  </div>
                  <div class="name--cell">
                    <div class="name--cell name--label">
                      <span class="square--label label--01">
                         PL
                      </span>
                     </div>
                    <div class="name-group">
                      <span class="name">Marc Doe</span>
                      <span class="email">marcdoe@gmail.com</span>
                    </div>
                  </div>
                  <div class="date--cell">50mt</div>
                  <div class="object--cell">9mm</div>
                  <div class="actions-call">
                      <span class="icon--wrapper">
                        <i class='bx bx-edit-alt'></i>
                      </span>
                      <span class="icon--wrapper">
                        <i class='bx bx-trash-alt' ></i>
                      </span>
                  </div>

                  <div class="expandable--cell ">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, eligendi modi? Consectetur reprehenderit inventore a!

                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui beatae delectus eaque esse ipsa vero debitis earum adipisci, temporibus iusto aspernatur obcaecati voluptatem unde magnam, voluptatibus eveniet consectetur quidem. Magnam.
                    </p>
                  </div>
                 </div>
                 <div class="table--row">
                  <div class="select-box">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label" for="customCheck3">3</label>
                  </div>
                  <div class="name--cell">
                    <div class="name--cell name--label">
                      <span class="square--label label--01">
                         PL
                      </span>
                     </div>
                    <div class="name-group">
                      <span class="name">Marc Doe</span>
                      <span class="email">marcdoe@gmail.com</span>
                    </div>
                  </div>
                  <div class="date--cell">50mt</div>
                  <div class="object--cell">9mm</div>
                  <div class="actions-call">
                      <span class="icon--wrapper">
                        <i class='bx bx-edit-alt'></i>
                      </span>
                      <span class="icon--wrapper">
                        <i class='bx bx-trash-alt' ></i>
                      </span>
                  </div>
                  <div class="expandable--cell ">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, eligendi modi? Consectetur reprehenderit inventore a!

                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui beatae delectus eaque esse ipsa vero debitis earum adipisci, temporibus iusto aspernatur obcaecati voluptatem unde magnam, voluptatibus eveniet consectetur quidem. Magnam.
                    </p>
                  </div>
                 </div>
              <div>
            <div>/>
           </div> -->

           <div class="submitted--project__wrapper">
              <div class="submit--project label--03">
                   <div class="upscale--row">
                    <div class="name--wrap name--label">
                      <span class="rounded--label">
                        PL
                      </span>
                    </div>
                  <div class="name-group">
                    <span class="name">Marc Doe</span>
                  </div>
                   </div>
                   <div class="project--body">
                      <div class="top--infos">
                        <div class="name-group">
                          <span class="name">Marc Doe</span>
                          <span class="email">marcdoe@gmail.com</span>
                        </div>
                        <div class="actions-call">
                          <span class="icon--wrapper a-button a-button -dark center">
                            0<i class='bx bx-edit-alt'></i>
                          </span>
                          <span class="icon--wrapper a-button a-button -dark center">
                            0<i class='bx bx-trash-alt' ></i>
                          </span>
                        </div>
                      </div>
                      <p class="project--description">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt
                      </p>

                      <a class="btn download--btn" href=""> Telecharger <i class='bx bxs-download'></i></a>
                   </div>
              </div>

              <div class="submit--project label--02">
                <div class="upscale--row">
                 <div class="name--wrap name--label">
                   <span class="rounded--label">
                     PL
                   </span>
                 </div>
               <div class="name-group">
                 <span class="name">Marc Doe</span>
               </div>
                </div>
                <div class="project--body">
                   <div class="top--infos">
                     <div class="name-group">
                       <span class="name">Marc Doe</span>
                       <span class="email">marcdoe@gmail.com</span>
                     </div>
                     <div class="actions-call">
                       <span class="icon--wrapper a-button a-button -dark center">
                         0<i class='bx bx-edit-alt'></i>
                       </span>
                       <span class="icon--wrapper a-button a-button -dark center">
                         0<i class='bx bx-trash-alt' ></i>
                       </span>
                     </div>
                   </div>
                   <p class="project--description">
                     Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt
                   </p>

                   <a class="btn download--btn" href=""> Telecharger <i class='bx bxs-download'></i></a>
                </div>
           </div>
           </div>

           <div class="flex--container admins--group">
              <div class="col--unit__4 content--intro">
                  <h3>Comptes fabmanager</h3>
                  <p>At vero eos et accusamus praesentium voluptatum atque corrupti quos dolores et quas molestias</p>

                  <a class="btn outlined--btn" href=""> Ajouter un compte <i class='bx bx-chevron-right'></i></a>
              </div>
              <div class="col--unit__8 admins__list table--wrapper">
                 
                 <div class="right--btn__wrapper">
                  <a class='a-button -dark center'>Let's start</a>
                 </div>
              </div>
           </div>

           <div class="flex--container admins--profile">
                <div class="col--unit__4 profil--summary">
                  <div class="name--wrap name--label">
                    <span class="square--label label--01">
                      PL
                    </span>
                  </div>
                   <div class="admin--name__wrapper">
                        <span class="name"> Marc lévi</span>
                        <span class="role"><i class='bx bxs-user'></i> Admin fablab</span>
                   </div>

                   <div class="summary">
                      <div class="summary--item">
                          <span class="icon--wrapper"><i class='bx bxs-phone' ></i></span>
                          <span class="content"> +5416 65658 </span>
                      </div>

                      <div class="summary--item">
                        <span class="icon--wrapper"><i class='bx bxs-phone' ></i></span>
                        <span class="content"> dodjihfablab@gmail.coom </span>
                    </div>

                    <div class="summary--item">
                      <span class="icon--wrapper"><i class='bx bxs-phone' ></i></span>
                      <span class="content"> Inscrit le 12/7/2023 </span>
                  </div>
                   </div>
                </div>
                <div class="col--unit__8 profil--details">
                    <div class="col--header">
                        <h4> High Quality Web Icons</h4>
                        <p> Simple Open Source icons carefully crafted for designers & developers </p>
                    </div>

                    <div class="form--wrapper">
                      <form name="admin--summary" class="admin--summary__form default--form">
                        <div class="profil--pic__wrapper">
                            <div class="user--profil">
                              <div class="name--wrap name--label">
                                <span class="rounded--label label--01">
                                  PL
                                </span>
                              </div>
                            </div>
                            <div class="actions--btn__group button-container">
                              <a class='a-button -dark center'>Charger une photo</a>
                              <a class='a-button -outline center'>Retirer la photo<i></i> </a>
                              
                            </div>
                        </div>
                        <div class="input--wrapper">
                          <label>Name:</label>
                          <input type="text" id="name" placeholder="Name" autocomplete="off"/>
                        </div>
                        <div class="input--wrapper">
                          <label>Password:</label>
                          <input type="password" id="password" placeholder="Password"/>
                        </div>
                        <div class="input--wrapper">
                          <label>Email:</label>
                          <input type="email" id="email" placeholder="Email" autocomplete="off"/>
                        </div>

                        <div class="input--wrapper">
                          <label>Upload file</label>
                          <i class='bx bx-cloud-upload' ></i>
                          <input type="email" id="email" placeholder="Email" autocomplete="off"/>
                        </div>
                        <div class="input--wrapper">
                          <label>Country:</label>
                          <select name="" id="cusSelectbox">
                            <option value="select">select</option>
                            <option value="india">india</option>
                            <option value="nepal">nepal</option>
                            <option value="bangladesh">bangladesh</option>
                            <option value="sri lanka">sri lanka</option>
                            <option value="pakistan">pakistan</option>
                          </select>
                        </div>
                        <div class="input--wrapper">
                          <button type="submit" class="btn form--submit btn--dark">Submit</button>
                        </div>
                        <div class="errorBlock">
                          <p id="regisErr"></p>
                        </div>
                      </form>
                    </div>
                </div>
           </div>

           <div class="flex--container equipment--reservation">
            <div class="reservation--card label--01">
              <div class="reservation--card__header">
                <span class="intro">Réservation sur:</span>
                <div class="date--group">
                  <span class="label--bar"></span>
                  <div class="day">
                      04
                  </div>
                  <div class="hours--group">
                     <span class="month"> Septempbre</span>
                     <span class="hours"> 09:00 - 07:00</span>
                  </div>
                </div>
              </div>

                <div class="reservation--card__body">
                  <span class="card--title"> Machine</span>
                  <div class="equipment">Découpe vinyle signmaster</div>
                  <span class="separator"></span>
                </div>
                <div class="contact--info">az@gmail.com</div>
                <div class="contact--info">2258756665</div>
                <div class="name--cell">
                  <div class="name--wrap name--label">
                    <span class="square--label">
                      PL
                    </span>
                  </div>
                <div class="name-group">
                  <span class="name">Marc Doelorem dalo</span>
                </div>
              </div>
              </div>

              <div class="reservation--card label--02">
                <div class="reservation--card__header">
                  <span class="intro">Réservation sur:</span>
                  <div class="date--group">
                    <span class="label--bar"></span>
                    <div class="day">
                        18
                    </div>
                    <div class="hours--group">
                       <span class="month"> Juillet</span>
                       <span class="hours"> 09:00 - 07:00</span>
                    </div>
                  </div>
                </div>

                  <div class="reservation--card__body">
                    <span class="card--title"> Machine</span>
                    <div class="equipment">Imprimante 3D</div>
                    <span class="separator"></span>
                  </div>
                  <div class="contact--info">az@gmail.com</div>
                  <div class="contact--info">2258756665</div>
                  <div class="name--cell">
                    <div class="name--wrap name--label">
                      <span class="square--label">
                        PL
                      </span>
                    </div>
                  <div class="name-group">
                    <span class="name">Marc Doelorem dalo</span>
                  </div>
                </div>
                </div>

                <div class="reservation--card label--01">
                  <div class="reservation--card__header">
                    <span class="intro">Réservation sur:</span>
                    <div class="date--group">
                      <span class="label--bar"></span>
                      <div class="day">
                          04
                      </div>
                      <div class="hours--group">
                         <span class="month"> Septempbre</span>
                         <span class="hours"> 09:00 - 07:00</span>
                      </div>
                    </div>
                  </div>
    
                    <div class="reservation--card__body">
                      <span class="card--title"> Machine</span>
                      <div class="equipment">Découpe vinyle signmaster</div>
                      <span class="separator"></span>
                    </div>
                    <div class="contact--info">az@gmail.com</div>
                    <div class="contact--info">2258756665</div>
                    <div class="name--cell">
                      <div class="name--wrap name--label">
                        <span class="square--label">
                          PL
                        </span>
                      </div>
                    <div class="name-group">
                      <span class="name">Marc Doelorem dalo</span>
                    </div>
                  </div>
                  </div>
    
                  <div class="reservation--card label--02">
                    <div class="reservation--card__header">
                      <span class="intro">Réservation sur:</span>
                      <div class="date--group">
                        <span class="label--bar"></span>
                        <div class="day">
                            18
                        </div>
                        <div class="hours--group">
                           <span class="month"> Juillet</span>
                           <span class="hours"> 09:00 - 07:00</span>
                        </div>
                      </div>
                    </div>
    
                      <div class="reservation--card__body">
                        <span class="card--title"> Machine</span>
                        <div class="equipment">Imprimante 3D</div>
                        <span class="separator"></span>
                      </div>
                      <div class="contact--info">az@gmail.com</div>
                      <div class="contact--info">2258756665</div>
                      <div class="name--cell">
                        <div class="name--wrap name--label">
                          <span class="square--label">
                            PL
                          </span>
                        </div>
                      <div class="name-group">
                        <span class="name">Marc Doelorem dalo</span>
                      </div>
                    </div>
                    </div>
           </div> 
        </div>
    </div>
    <%- include('partials/notification__bar') %>
    
    <script src="js/main.js"></script>
</body>
</html>