<%- include('partials/head') %>
    <div class="connexion--form main--wrapper">
      <div class="cover--section">
          <img src="images/cover.jpg" alt="" srcset="">
      </div>
      <div class="main--content">
         
        <a href="http://" class="logo--wrapper">
            <img src="images/hfablab_logo_dark.png" alt="" srcset="">
        </a>
          <div class="form--content">
              <div class="title--group">
                  <h3>Se connecter</h3>
              </div>
           <form action="" class="default--form login--form">
                  <div class="input--wrapper">
                          <input type="email" name="" id="" placeholder="Identifiant">
                      </div>
                  <div class="input--wrapper">
                          <input type="password" name="" id="" placeholder="Mot de pass">
                  </div>
  
  
                  <input class="btn btn--secondary" type="submit" value="S'inscrire">
              </form>
          </div>
      </div>
  </div>

  <%- include('partials/head') %>