<%- include('partials/main__header') %>
    <div class="main--content__wrapper">
      <%- include('partials/section__header') %>
        <div class="main--content">
           
         <%- include(`./newContent/${content}`) %>

          </div>
        </div>
        <%- include('partials/notification__bar') %>
        <script src="http://www.dev.h-fablab.org/js/events.js"></script>
        <script src="js/main.js"></script>
    </body>
    </html>