<%- include('partials/main__header') %>
    <div class="main--content__wrapper">
      <%- include('partials/section__header') %>
        <div class="main--content">
            <div class="table--wrapper mail--table">
                <div class="name--cell">
                  <div class="name--wrap name--label">
                    <span class="square--label label--01">
                      PL
                    </span>
                        <div class="custom-control custom-checkbox select-box">
                          <input type="checkbox" class="custom-control-input checkbox" id="customCheck3">
                          <label class="custom-control-label" for="customCheck3"></label>
                      </div>
                  </div>
                <div class="name-group">
                  <span class="name">Marc Doe</span>
                  <span class="email">marcdoe@gmail.com</span>
                </div>
              </div>

              <div class="name--cell">
                <div class="name--wrap name--label">
                  <span class="square--label label--01">
                    PL
                  </span>
                </div>
              <div class="name-group">
                <span class="name">Marc Doe</span>
                <span class="email">marcdoe@gmail.com</span>
              </div>
               <div class="custom-control custom-checkbox select-box">
                          <input type="checkbox" class="custom-control-input checkbox" id="customCheck3">
                          <label class="custom-control-label" for="customCheck3"></label>
                      </div>
            </div>
            <div class="name--cell">
              <div class="name--wrap name--label">
                <span class="square--label label--01">
                  PL
                </span>
              </div>
            <div class="name-group">
              <span class="name">Marc Doe</span>
              <span class="email">marcdoe@gmail.com</span>
            </div>
             <div class="custom-control custom-checkbox select-box">
                          <input type="checkbox" class="custom-control-input checkbox" id="customCheck3">
                          <label class="custom-control-label" for="customCheck3"></label>
                      </div>
             </div>

                <div class="name--cell">
                  <div class="name--wrap name--label">
                    <span class="square--label label--01">
                      PL
                    </span>
                        <div class="custom-control custom-checkbox select-box">
                          <input type="checkbox" class="custom-control-input checkbox" id="customCheck3">
                          <label class="custom-control-label" for="customCheck3"></label>
                      </div>
                  </div>
                <div class="name-group">
                  <span class="name">Marc Doe</span>
                  <span class="email">marcdoe@gmail.com</span>
                </div>
              </div>

              <div class="name--cell">
                <div class="name--wrap name--label">
                  <span class="square--label label--01">
                    PL
                  </span>
                </div>
              <div class="name-group">
                <span class="name">Marc Doe</span>
                <span class="email">marcdoe@gmail.com</span>
              </div>
               <div class="custom-control custom-checkbox select-box">
                          <input type="checkbox" class="custom-control-input checkbox" id="customCheck3">
                          <label class="custom-control-label" for="customCheck3"></label>
                      </div>
            </div>
            <div class="name--cell">
              <div class="name--wrap name--label">
                <span class="square--label label--01">
                  PL
                </span>
              </div>
            <div class="name-group">
              <span class="name">Marc Doe</span>
              <span class="email">marcdoe@gmail.com</span>
            </div>
             <div class="custom-control custom-checkbox select-box">
                          <input type="checkbox" class="custom-control-input checkbox" id="customCheck3">
                          <label class="custom-control-label" for="customCheck3"></label>
                      </div>
             </div>
                <div class="name--cell">
                  <div class="name--wrap name--label">
                    <span class="square--label label--01">
                      PL
                    </span>
                        <div class="custom-control custom-checkbox select-box">
                          <input type="checkbox" class="custom-control-input checkbox" id="customCheck3">
                          <label class="custom-control-label" for="customCheck3"></label>
                      </div>
                  </div>
                <div class="name-group">
                  <span class="name">Marc Doe</span>
                  <span class="email">marcdoe@gmail.com</span>
                </div>
              </div>

              <div class="name--cell">
                <div class="name--wrap name--label">
                  <span class="square--label label--01">
                    PL
                  </span>
                </div>
              <div class="name-group">
                <span class="name">Marc Doe</span>
                <span class="email">marcdoe@gmail.com</span>
              </div>
               <div class="custom-control custom-checkbox select-box">
                          <input type="checkbox" class="custom-control-input checkbox" id="customCheck3">
                          <label class="custom-control-label" for="customCheck3"></label>
                      </div>
            </div>
            <div class="name--cell">
              <div class="name--wrap name--label">
                <span class="square--label label--01">
                  PL
                </span>
              </div>
            <div class="name-group">
              <span class="name">Marc Doe</span>
              <span class="email">marcdoe@gmail.com</span>
            </div>
             <div class="custom-control custom-checkbox select-box">
                          <input type="checkbox" class="custom-control-input checkbox" id="customCheck3">
                          <label class="custom-control-label" for="customCheck3"></label>
                      </div>
             </div>
          
           </div>
        </div>
    </div>
    <%- include('partials/notification__bar') %>
    <script src="js/main.js"></script>
</body>
</html>