<%- include('partials/main__header') %>
    <div class="main--content__wrapper">
      <%- include('partials/section__header') %>
        <div class="main--content">
            <div class="submitted--project__wrapper">
                <div class="submit--project label--03">
                     <div class="upscale--row">
                      <div class="name--wrap name--label">
                        <span class="rounded--label">
                          PL
                        </span>
                      </div>
                    <div class="name-group">
                      <span class="name">Marc Doe</span>
                    </div>
                     </div>
                     <div class="project--body">
                        <div class="top--infos">
                          <div class="name-group">
                            <span class="name">Marc Doe</span>
                            <span class="email">marcdoe@gmail.com</span>
                          </div>
                          <div class="actions-call">
                            <span class="icon--wrapper">
                              <a href="http://" class="a-button -regular sm-btn a-button center">
                                <i class='bx bx-edit-alt'></i>
                              </a>
                            </span>
                            <span class="icon--wrapper">
                              <a href="http://" class="a-button -regular sm-btn a-button center">
                                <i class='bx bx-trash-alt' ></i>
                              </a>
                            </span>
                          </div>
                        </div>
                        <p class="project--description">
                          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt
                        </p>
                        <a class="btn download--btn" href=""> Telecharger <i class='bx bxs-download'></i></a>
                     </div>
                </div>
  
                <div class="submit--project label--02">
                  <div class="upscale--row">
                   <div class="name--wrap name--label">
                     <span class="rounded--label">
                       PL
                     </span>
                   </div>
                 <div class="name-group">
                   <span class="name">Marc Doe</span>
                 </div>
                  </div>
                  <div class="project--body">
                     <div class="top--infos">
                       <div class="name-group">
                         <span class="name">Marc Doe</span>
                         <span class="email">marcdoe@gmail.com</span>
                       </div>
                       <div class="actions-call">
                        <span class="icon--wrapper">
                          <a href="http://" class="a-button -regular sm-btn a-button center">
                            <i class='bx bx-edit-alt'></i>
                          </a>
                        </span>
                        <span class="icon--wrapper">
                          <a href="http://" class="a-button -regular sm-btn a-button center">
                            <i class='bx bx-trash-alt' ></i>
                          </a>
                          
                        </span>
                       </div>
                     </div>
                     <p class="project--description">
                       Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt
                     </p>
  
                     <a class="btn download--btn" href=""> Telecharger <i class='bx bxs-download'></i></a>
                  </div>
             </div>
             </div>
        </div>
    </div>
    <%- include('partials/notification__bar') %>
    <script src="js/main.js"></script>
</body>
</html>