<%- include('partials/main__header') %>
    <div class="main--content__wrapper">
      <%- include('partials/section__header') %>
        <div class="main--content">
            <div class="flex--container equipment--reservation">
                <div class="reservation--card label--01">
                  <div class="reservation--card__header">
                    <span class="intro">Réservation sur:</span>
                    <div class="date--group">
                      <span class="label--bar"></span>
                      <div class="day">
                          04
                      </div>
                      <div class="hours--group">
                         <span class="month"> Septempbre</span>
                         <span class="hours"> 09:00 - 07:00</span>
                      </div>
                    </div>
                  </div>
    
                    <div class="reservation--card__body">
                      <span class="card--title"> Machine</span>
                      <div class="equipment">Découpe vinyle signmaster</div>
                      <span class="separator"></span>
                    </div>
                    <div class="contact--info">az@gmail.com</div>
                    <div class="contact--info">2258756665</div>
                    <div class="name--cell">
                      <div class="name--wrap name--label">
                        <span class="square--label">
                          PL
                        </span>
                      </div>
                    <div class="name-group">
                      <span class="name">Marc Doelorem dalo</span>
                    </div>
                  </div>
                  </div>
    
                  <div class="reservation--card label--02">
                    <div class="reservation--card__header">
                      <span class="intro">Réservation sur:</span>
                      <div class="date--group">
                        <span class="label--bar"></span>
                        <div class="day">
                            18
                        </div>
                        <div class="hours--group">
                           <span class="month"> Juillet</span>
                           <span class="hours"> 09:00 - 07:00</span>
                        </div>
                      </div>
                    </div>
    
                      <div class="reservation--card__body">
                        <span class="card--title"> Machine</span>
                        <div class="equipment">Imprimante 3D</div>
                        <span class="separator"></span>
                      </div>
                      <div class="contact--info">az@gmail.com</div>
                      <div class="contact--info">2258756665</div>
                      <div class="name--cell">
                        <div class="name--wrap name--label">
                          <span class="square--label">
                            PL
                          </span>
                        </div>
                      <div class="name-group">
                        <span class="name">Marc Doelorem dalo</span>
                      </div>
                    </div>
                    </div>
    
                    <div class="reservation--card label--01">
                      <div class="reservation--card__header">
                        <span class="intro">Réservation sur:</span>
                        <div class="date--group">
                          <span class="label--bar"></span>
                          <div class="day">
                              04
                          </div>
                          <div class="hours--group">
                             <span class="month"> Septempbre</span>
                             <span class="hours"> 09:00 - 07:00</span>
                          </div>
                        </div>
                      </div>
        
                        <div class="reservation--card__body">
                          <span class="card--title"> Machine</span>
                          <div class="equipment">Découpe vinyle signmaster</div>
                          <span class="separator"></span>
                        </div>
                        <div class="contact--info">az@gmail.com</div>
                        <div class="contact--info">2258756665</div>
                        <div class="name--cell">
                          <div class="name--wrap name--label">
                            <span class="square--label">
                              PL
                            </span>
                          </div>
                        <div class="name-group">
                          <span class="name">Marc Doelorem dalo</span>
                        </div>
                      </div>
                      </div>
        
                      <div class="reservation--card label--02">
                        <div class="reservation--card__header">
                          <span class="intro">Réservation sur:</span>
                          <div class="date--group">
                            <span class="label--bar"></span>
                            <div class="day">
                                18
                            </div>
                            <div class="hours--group">
                               <span class="month"> Juillet</span>
                               <span class="hours"> 09:00 - 07:00</span>
                            </div>
                          </div>
                        </div>
        
                          <div class="reservation--card__body">
                            <span class="card--title"> Machine</span>
                            <div class="equipment">Imprimante 3D</div>
                            <span class="separator"></span>
                          </div>
                          <div class="contact--info">az@gmail.com</div>
                          <div class="contact--info">2258756665</div>
                          <div class="name--cell">
                            <div class="name--wrap name--label">
                              <span class="square--label">
                                PL
                              </span>
                            </div>
                          <div class="name-group">
                            <span class="name">Marc Doelorem dalo</span>
                          </div>
                        </div>
                        </div>
               </div> 
        </div>
    </div>
    <%- include('partials/notification__bar') %>
    <script src="js/main.js"></script>
</body>
</html>