<div class="equipment__description">
    <div class="equipment__description--container">
        <div class="col--unit__6 img--wrapper">
          <img src="images/equipments/brodeuse-numerique.png" alt="" srcset="">
        </div>

        <div class="col--unit__6 description--wrapper">
              <h3 class="equipment--title"> Brodeuse numérique</h3>
             <p class="about__description">Une brodeuse numérique est une machine-outil dotée d’une commande numérique, qui va permettre d’effectuer des travaux de broderie au moyen d’un outil automatisé. Cette machine permet de broder des motifs sur du tissu, mais elle est commandée de manière numérique. </p>
              <div class="desc--bottom btn--wrapper">
                  <a class="btn btn--primary" href="">Reserver la machine</a>
                  <a class="btn btn--bordered" href="">Se former</a>
              </div>
        </div>
    </div>
    
    <div class="model--list__wrapper">

        <div class="title--wrapper">
          
          <div class="col--unit__4">
              Modèle
          </div>
          <div class="col--unit__8 desc--title">
              Description
          </div>
        </div>

        <div class="model--item active">
            <div class="collapse--btn">
              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"></path>
              </svg>

              <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.75 0V23.5" stroke="white" stroke-width="2"></path>
              <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"></path>
              </svg>

            </div>

          <div class="col--unit__4">
              <h4 class="modele--type">BROTHER Innovis M240</h4>
          </div>
          <div class="col--unit__8 model--content ">
              <img src="images/equipments/brother-innov-is-m240ed.jpg" alt="" class="model--img">
                <h4 class="modele--caracteristic__title">Caractéristiques</h4>
                 <p class="about__description">Machine  à broder, elle dispose de 10 superbe alphabets, 125 motifs de broderie dont 45 personnages de Disney, elle est capable de broder dans un cadre de 100 mm x 100 mm, elle peut être connectée à une clé USB  et utiliser les cartes de broderie standard et Disney de Brother (via un lecteur de carte optionnel), une qualité de broderie exceptionnelle à ce prix.</p>
                <p><strong>Points forts:</strong></p>
              <ul class="ul--listing dash--list">
                 <li><span class="entitled">Ecran LCD tactile 9,4 cm Haute Définition couleur</span></li>
                 <li><span class="entitled">Système d’enfilage automatique</span></li>
                 <li><span class="entitled">Eclairage par LED</span></li>
                 <li><span class="entitled">Plateau d’extension</span></li>
                 <li><span class="entitled">125 motifs de broderie dont 45 personnages Disney</span></li>
                 <li><span class="entitled">Combinaison de plusieurs motifs de broderie possible</span></li>
                 <li><span class="entitled">Champ de broderie de 100 x 100 mm</span></li>
                 <li><span class="entitled">10 styles de polices de caractères intégrées</span></li>
                 <li><span class="entitled">Port USB pour clé USB</span></li>
                  </ul>
          </div>
        </div>
        
        <div class="model--item">
          <div class="col--unit__4">
              <h4 class="modele--type">BAI Mirror 1501 </h4>
          </div>
          <div class="collapse--btn">
            <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"></path>
              </svg>

              <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.75 0V23.5" stroke="white" stroke-width="2"></path>
              <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"></path>
              </svg>
          </div>
          <div class="col--unit__8 model--content">
              <img src="images/equipments/Machine-a-broder-BAI.jpg.jpg" alt="" class="model--img">
              <ul class="ul--listing dash--list">
                  <li><span class="entitled">Application : </span><span class="entitled--desc">casquettes/chapeaux ; tee-shirts;; chandails à capuchon; patchs ; sacs; jeans; chaussures; chaussettes; cuirs; logotypes ; uniformes; etc.</span></li>
                  <li><span class="entitled">Modèle : </span><span class="entitled--desc">MIROIR-1201/1501(350*500mm)</span></li>
                  <li><span class="entitled">Marque : </span><span class="entitled--desc">BAI</span></li>
                  <li><span class="entitled">Têtes : </span><span class="entitled--desc">1</span></li>
                  <li><span class="entitled">Aiguilles : </span><span class="entitled--desc">15</span></li>
                  <li><span class="entitled">Application : </span><span class="entitled--desc">Casquettes / T-shirts / Appartements / etc.</span></li>
                  <li><span class="entitled">Zone de broderie : </span><span class="entitled--desc">350mm*500mm</span></li>
                  <li><span class="entitled">Zone de broderie du bonnet : </span><span class="entitled--desc">270°</span></li>
                  <li><span class="entitled">Max. Vitesse : </span><span class="entitled--desc">1200 s/min</span></li>
                  <li><span class="entitled">Ordinateur : </span><span class="entitled--desc">Top Wisdom 510</span></li>
                  <li><span class="entitled">Moteur :</span><span class="entitled--desc"> servomoteur</span></li>
                  <li><span class="entitled">Dispositif facultatif : </span><span class="entitled--desc">cordons/paillettes/perles</span></li>
                  <li><span class="entitled">Langue : </span><span class="entitled--desc">16 types de langues</span></li>
                  <li><span class="entitled">Accessoires : </span><span class="entitled--desc">Casquette / T-shirt / Fixation plate / etc.</span></li>
                  </ul>
          </div>
        </div>
   </div>

</div>