<div class="equipment__description">
    <div class="equipment__description--container">
        <div class="col--unit__6 img--wrapper">
          <img src="images/equipments/hTEC-dECOUPE-LASER-CO2-100-Watt.jpg" alt="" srcset="">
        </div>
        <div class="col--unit__6 description--wrapper">
              <h3 class="equipment--title">Découpe Laser</h3>
              <p class="about__description">La découpe laser est un procédé de fabrication qui consiste à découper la matière grâce à une grande quantité d'énergie générée par un laser et concentrée sur une très faible surface. Cette technologie est majoritairement destinée aux chaînes de production industrielles, mais peut également convenir aux boutiques, aux établissements professionnels…</p>
              <h4 class="modele--caracteristic__title">Caractéristiques</h4>
                <ul class="ul--listing dash--list">
                  <li><span class="entitled">Marque</span><span class="entitled--desc"> HITECCNC</span></li>
                  <li><span class="entitled">Modèle du produit</span><span class="entitled--desc"> HTJ1390</span></li>
                  <li><span class="entitled">Zone de travail maximale(mm)</span><span class="entitled--desc"> 1300×900</span></li>
                  <li><span class="entitled">Puissance laser</span><span class="entitled--desc"> Tube laser 100w Reci</span></li>
                  <li><span class="entitled">Type laser</span><span class="entitled--desc"> Tube de CO2 hermétique et détaché</span></li>
                  <li><span class="entitled">Vitesse de gravure(mm/min)</span><span class="entitled--desc"> 0-75000</span></li>
                  <li><span class="entitled">Vitesse de coupe(mm/min)</span><span class="entitled--desc"> 0-40 000</span></li>
                  <li><span class="entitled">Lettre minimale</span><span class="entitled--desc"> Anglais 1 x 1 mm</span></li>
                  <li><span class="entitled">Précision de localisation</span><span class="entitled--desc"> ≤0.01mm</span></li>
                  <li><span class="entitled">Système de conduite</span><span class="entitled--desc"> Pas à pas</span></li>
                  <li><span class="entitled">Logiciel</span><span class="entitled--desc"> RDworks V8</span></li>
                  <li><span class="entitled">Logiciels compatibles</span><span class="entitled--desc"> CorelDraw, AutoCAD, Photoshop</span></li>
                  <li><span class="entitled">Gravure de pente à 360°</span><span class="entitled--desc"> Oui</span></li>
                  <li><span class="entitled">Source de courant</span><span class="entitled--desc"> AC 220V/50Hz~60HZ (110V est également disponible)</span></li>
                  <li><span class="entitled">Contrôle de la sortie laser</span><span class="entitled--desc"> Panneau de commande 1-100 % et réglage du logiciel</span></li>
                  <li><span class="entitled">Précision de numérisation la plus élevée</span><span class="entitled--desc"> 50-1000 DPI</span></li>
                  <li><span class="entitled">Mode de refroidissement </span><span class="entitled--desc">Système de refroidissement par eau et de protection</span></li>
                   <li><span class="entitled">Format graphique pris en charge </span><span class="entitled--desc"></span> BMP, CIF, JPEG, TGA, TIFF, PLT, AI, DXF, DST (logiciel de broderie TIANDAO), DWG, CDR, etc.</li>
                   <li><span class="entitled">Accessoires </span><span class="entitled--desc"></span> Ventilateur d'extraction, tuyau d'échappement, pompe à air, refroidisseur CW3000, roue universelle et fondation</li>
                </ul>
             <div class="desc--bottom btn--wrapper">
                  <a class="btn btn--primary" href="">Reserver la machine</a>
                  <a class="btn btn--bordered" href="">Se former</a>
              </div>
        </div>
    </div>
</div>