<div class="equipment__description">
    <div class="equipment__description--container">
        <div class="col--unit__6 img--wrapper">
          <img src="images/equipments/decoupe-vinyle.jpg" alt="" srcset="">
        </div>

        <div class="col--unit__6 description--wrapper">
              <h3 class="equipment--title">Découpe Vinyle</h3>
              <p class="about__description">Une découpe vinyle est une machine, contrôlée par ordinateur, qui découpe différentes formes et lettres dans de fines feuilles plastifiées autocollantes, selon une image vectorielle du résultat attendu. Nous disposons de deux modèles.</p>
            <div class="desc--bottom btn--wrapper">
                  <a class="btn btn--primary" href="">Reserver la machine</a>
                  <a class="btn btn--bordered" href="">Se former</a>
              </div>
        </div>
    </div>
    
    <div class="model--list__wrapper">

        <div class="title--wrapper">
          
          <div class="col--unit__4">
              Modèle
          </div>
          <div class="col--unit__8 desc--title">
              Description
          </div>
        </div>

        <div class="model--item active">
            <div class="collapse--btn">
              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"></path>
              </svg>

              <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.75 0V23.5" stroke="white" stroke-width="2"></path>
              <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"></path>
              </svg>

            </div>

          <div class="col--unit__4">
              <h4 class="modele--type">Cameo silhouette 4</h4>
          </div>
          <div class="col--unit__8 model--content ">
            <img src="images/equipments/Decoupe-Vinyle-silhouette-cameo-4.jpg" alt="" class="model--img">
                <h4 class="modele--caracteristic__title">Caractéristiques</h4>
              <ul class="ul--listing dash--list">
                  <li><span class="entitled">Largeur de coupe 30,4 cm.</span></li>
                  <li><span class="entitled">Profondeur (support de rouleau fermé) :</span><span class="entitled--desc"></span> 16 cm.</li>
                  <li><span class="entitled">Hauteur :</span><span class="entitled--desc"></span> 17 cm.</li>
                  <li><span class="entitled">Longueur :</span><span class="entitled--desc"></span> 54 cm.</li>
                  <li><span class="entitled">Poids :</span><span class="entitled--desc"></span> 4,3 kg.</li>
                  <li><span class="entitled">1 x Tapis de coupe :</span><span class="entitled--desc"></span> 30,5 cm x 30,5 cm</li>
                  <li><span class="entitled">1 x Adaptateur de lame Kraft 2 mm</span></li>
                  <li><span class="entitled">1 x Adaptateur de lame à coupe profonde (silh-blade-deep)</span></li>
                  <li><span class="entitled">1 x Adaptateur de lame Silhouette (silh-blade-3 ou silh-blade-prem)</span></li>
                </ul>
          </div>
        </div>
        
        <div class="model--item">
          <div class="col--unit__4">
              <h4 class="modele--type">Traceur Découpe Vinyle signmaster</h4>
          </div>
          <div class="collapse--btn">
            <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"></path>
              </svg>

              <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.75 0V23.5" stroke="white" stroke-width="2"></path>
              <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"></path>
              </svg>
          </div>
          <div class="col--unit__8 model--content">
              <img src="images/equipments/Decoupe-Vinyle-Plotter.jpg" alt="" class="model--img">
              <ul class="ul--listing dash--list">
                        <li><span class="entitled">Taille : </span><span class="entitled--desc">24" (720 mm)M</span></li>
                        <li><span class="entitled">Types de lames :</span><span class="entitled--desc"> lames Roland standard et lames compatiblesM</span></li>
                        <li><span class="entitled">Méthode de conduite : </span><span class="entitled--desc">moteur pas à pas.M</span></li>
                        <li><span class="entitled">Articles inclus : </span><span class="entitled--desc">coupe-vinyle, lames, porte-lame, accessoire pour stylo, câble série, câble USB, câble d'alimentation, logiciel ArtcutM</span></li>
                        <li><span class="entitled">Interface : </span><span class="entitled--desc">port série et USB 2.0M</span></li>
                        <li><span class="entitled">Largeur de coupe maximale : </span><span class="entitled--desc">24,80" (630 mm)M</span></li>
                        <li><span class="entitled">Largeur d'alimentation maximale : </span><span class="entitled--desc">28,3" (720 mm)M</span></li>
                        <li><span class="entitled">Pression maximale : </span><span class="entitled--desc">500 grammesM</span></li>
                        <li><span class="entitled">Vitesse maximale : </span><span class="entitled--desc">48 pouces/secondeM</span></li>
                        <li><span class="entitled">Mémoire : </span><span class="entitled--desc">1 Mo - RecyclableM</span></li>
                        <li><span class="entitled">Nombre de rouleaux pinceurs : </span><span class="entitled--desc">deux (2)M</span></li>
                        <li><span class="entitled">Alimentation : </span><span class="entitled--desc">100-220 V AC 50/60 Hz Commutation automatique (dans le monde entier)M</span></li>
                        <li><span class="entitled">Précision de répétition : </span><span class="entitled--desc">0,005 pouces (0,127 MM)M</span></li>
                        <li><span class="entitled">Résolution : </span><span class="entitled--desc">0,001 pouce/pas (0,0254 mm/st)M</span></li>
                  </ul>
          </div>
        </div>
   </div>
</div>