                                <div class="equipment__description">
                                    <div class="equipment__description--container">
                                        <div class="col--unit__6 img--wrapper">
                                          <img src="images/equipments/IoT.jpg" alt="" srcset="">
                                        </div>
            
                                        <div class="col--unit__6 description--wrapper">
                                                <h3 class="equipment--title">Électronique et IoT</h3>
                                                <p class="about__description">Nous disposons de nombreux équipements électroniques pouvant servir au prototypage ou la réalisation de tout type de projets. Cela comprend des composants électroniques classiques,les carte micro contrôleur ESP3, Arduino (Uno, Mega, Nano, Pro micro…), Raspberry ( Pi 3, Pi4, Pico etc).</p>
                                               <div class="desc--bottom btn--wrapper">
                                                <a class="btn btn--primary" href="">Reserver la machine</a>
                                                <a class="btn btn--bordered" href="">Se former</a>
                                            </div>
                                        </div>
            
                                  </div>
                              </div>