<div class="equipment__description">
    <div class="equipment__description--container">
          <div class="col--unit__6 img--wrapper">
            <img src="images/equipments/ULTIMATE-Bee-004.png" alt="" srcset="">
          </div>

          <div class="col--unit__6 description--wrapper">
                  <h3 class="equipment--title">Fraiseuse numérique</h3>
                  <p class="about__description">La machine outil à commande numérique (CNC) ou computer numerical control en anglais est une machine-outil dotée d'une commande numérique assurée par un ordinateur. De nos jours,elle est très utilisée dans le domaine de la fabrication mécanique, menuiserie et bien d’autres.</p>
                 <div class="desc--bottom btn--wrapper">
                  <a class="btn btn--primary" href="">Reserver la machine</a>
                  <a class="btn btn--bordered" href="">Se former</a>
              </div>
          </div>

    </div>
</div>