<div class="equipment__description active">
    <div class="equipment__description--container">
        <div class="col--unit__6 img--wrapper">
          <img src="images/equipments/imprimante-3D.jpeg" alt="imprimante-3D" srcset="">
        </div>

        <div class="col--unit__6 description--wrapper">
              <h3 class="equipment--title">Impression 3D</h3>
              <p class="about__description">L'impression 3D ou fabrication additive regroupe les procédés de fabrication de pièces en volume par ajout ou agglomération de matière, par empilement de couches successives. L'impression 3D permet de réaliser un objet réel : un concepteur dessine l'objet 3D grâce à un outil de conception assistée par ordinateur (CAO). Le fichier 3D obtenu est traité par un logiciel spécifique qui organise le découpage en tranches des différentes couches nécessaires à la réalisation de la pièce. Le découpage est envoyé à l'imprimante 3D qui dépose ou solidifie la matière couche par couche jusqu'à obtenir la pièce finale.</p>
              <div class="desc--bottom btn--wrapper">
                  <a class="btn btn--primary" href="/reservation-equipement">Reserver la machine</a>
                  <a class="btn btn--bordered" href="/inscription-atelier">Se former</a>
              </div>
        </div>
    </div>
    
    <div class="model--list__wrapper">

        <div class="title--wrapper">
          
          <div class="col--unit__4">
              Modèle
          </div>
          <div class="col--unit__8 desc--title">
              Description
          </div>
        </div>

        <div class="model--item active">
            <div class="collapse--btn">
              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"></path>
              </svg>

              <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.75 0V23.5" stroke="white" stroke-width="2"></path>
              <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"></path>
              </svg>

            </div>

          <div class="col--unit__4">
              <h4 class="modele--type">Creality CR-30: The 3DPrintMill,Infinite-Z, Belt 3D Printer</h4>
          </div>
          <div class="col--unit__8 model--content ">
              <img src="images/equipments/Creality-CR-30-Printmill.jpg" alt="" class="model--img">
                <h4 class="modele--caracteristic__title">Caractéristiques</h4>
              <ul class="ul--listing dash--list">
                      <li><span class="entitled">Technologie:</span><span class="entitled--desc">FDM</span></li>
                      <li><span class="entitled">Dimensions de la machine:</span><span class="entitled--desc">535 mm x 656 mm x 410 mm</span></li>
                      <li><span class="entitled">Poids de la Machine:</span><span class="entitled--desc"> 16,5 kg</span></li>
                      <li><span class="entitled">Poids du colis:</span><span class="entitled--desc"> 20,5 kg</span></li>
                      <li><span class="entitled">Slicer: </span><span class="entitled--desc">CrealityBelt (exclusif CR-30)</span></li>
                      <li><span class="entitled">Mode de fonctionnement: </span><span class="entitled--desc">En ligne (câble USB fourni) / Carte SD</span></li>
                      <li><span class="entitled">Filaments Imprimables </span><span class="entitled--desc">PLA, TPU, bois, cuivre, TPE, PETG</span></li>
                      <li><span class="entitled">Volume d'impression </span><span class="entitled--desc">200 x 170 x ∞ mm</span></li>
                      <li><span class="entitled">Épaisseur de canapés </span><span class="entitled--desc">0.1 - 0.4 mm</span></li>
                      <li><span class="entitled">Précision d'impression </span><span class="entitled--desc">±0,1 mm</span></li>
                      <li><span class="entitled">Température d'extrusion max </span><span class="entitled--desc">240°C</span></li>
                      <li><span class="entitled">Température Du Plateau max </span><span class="entitled--desc">100°C</span></li>

                  </ul>
          </div>
        </div>
        
        <div class="model--item">
          <div class="col--unit__4">
              <h4 class="modele--type">Prusa Mendel MKS3</h4>
          </div>
          <div class="collapse--btn">
            <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"></path>
              </svg>

              <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.75 0V23.5" stroke="white" stroke-width="2"></path>
              <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"></path>
              </svg>
          </div>
          <div class="col--unit__8 model--content">
              <img src="images/equipments/prusa-i3-mks.jpg" alt="" class="model--img">
              <p><strong>Paramètres techniques</strong></p>
              <ul class="ul--listing dash--list">
                  
                       <li><span class="entitled">Volume d'impression</span><span class="entitled--desc"> 25×21×21 cm (9,84"×8,3"×8,3")</span></li>
                       <li><span class="entitled">Hauteur de couche</span><span class="entitled--desc"> 0,05 - 0,35 mm</span></li>
                       <li><span class="entitled">Buse</span><span class="entitled--desc"> 0,4 mm par défaut, large gamme d'autres diamètres/buses prise en charge</span></li>
                       <li><span class="entitled">Diamètre du filament</span><span class="entitled--desc"> 1.75 mm</span></li>
                       <li><span class="entitled">Matériaux supportés</span><span class="entitled--desc"> Large gamme de thermoplastiques, y compris PLA, PETG, ASA, ABS, PC (Polycarbonate), CPE, PVA/BVOH, PVB, HIPS, PP (Polypropylène), Flex, nGen, Nylon, Carbon filled, Woodfill et autres matériaux enrichit.</span></li>
                       <li><span class="entitled">Vitesse de déplacement maximale</span><span class="entitled--desc"> 200+ mm/s</span></li>
                       <li><span class="entitled">Température maximale de la buse</span><span class="entitled--desc"> 300 °C / 572 °F</span></li>
                       <li><span class="entitled">Température maximale du plateau chauffant</span><span class="entitled--desc"> 120 °C / 248 °F</span></li>
                       <li><span class="entitled">Extrudeur</span><span class="entitled--desc"> Entraînement direct, engrenages Bondtech, hotend E3D V6</span></li>
                       <li><span class="entitled">Surface d'impression</span><span class="entitled--desc"> Plaques d'acier magnétiques amovibles avec finitions différentes de surface, plateau chauffant avec compensation des pièces froides</span></li>
                       <li><span class="entitled">Dimensions de l'imprimante</span><span class="entitled--desc"> (sans bobine) 7 kg, 500×550×400 mm ; 19,6×21,6×15,7 pouces (X×Y×Z)</span></li>
                       <li><span class="entitled">Consommation électrique</span><span class="entitled--desc"> Paramètres PLA : 80W / Paramètres ABS : 120W</span></li>
                  </ul>
          </div>
        </div>

        <div class="model--item">
          <div class="col--unit__4">
              <h4 class="modele--type">Creality Ender 3 Max</h4>
          </div>
          <div class="collapse--btn">
            <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"></path>
              </svg>

              <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.75 0V23.5" stroke="white" stroke-width="2"></path>
              <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"></path>
              </svg>
          </div>
          <div class="col--unit__8 model--content">
              <img src="images/equipments/Ender-3-max-3.png" alt="" class="model--img">
              <ul class="ul--listing dash--list">
                   <li><span class="entitled">Créalité</span><span class="entitled--desc"> Ender 3 Max</span></li>
                   <li><span class="entitled">Marque</span><span class="entitled--desc"> CREALITY</span></li>
                   <li><span class="entitled">référence</span><span class="entitled--desc"> Ender 3 Max</span></li>
                   <li><span class="entitled">Dimensions</span><span class="entitled--desc"> 513 X 563 X 590 mm</span></li>
                   <li><span class="entitled">Volume d'impression</span><span class="entitled--desc"> 300 X 300 X 340 mm</span></li>
                   <li><span class="entitled">Type de filament</span><span class="entitled--desc"> PLA, TPU, PETG</span></li>
                   <li><span class="entitled">Diamètre du filament</span><span class="entitled--desc"> 1,75 mm</span></li>
                   <li><span class="entitled">Nombre d'extrudeurs </span><span class="entitled--desc">1</span></li>
                   <li><span class="entitled">Diamètre de la buse</span><span class="entitled--desc"> 0,4 mm</span></li>
                   <li><span class="entitled">Température max d'extrusion</span><span class="entitled--desc"> 260°</span></li>
                   <li><span class="entitled">Température max plateau</span><span class="entitled--desc"> 100°</span></li>
                   <li><span class="entitled">précision</span><span class="entitled--desc"> +/- 0,1 mm</span></li>
                   <li><span class="entitled">Épaisseurs couches</span><span class="entitled--desc"> 0,1 mm - 0,4 mm</span></li>
                   <li><span class="entitled">Vitesse d'impression</span><span class="entitled--desc"> &lt;= 180 mm/s</span></li>
                   <li><span class="entitled">Connectivité</span><span class="entitled--desc"> Carte SD, Ethernet</span></li>
                   <li><span class="entitled">Poids</span><span class="entitled--desc"> 9,5 kg</span></li>
                   <li><span class="entitled">Formats de fichiers</span><span class="entitled--desc"> STL, AMF, OBJ</span></li>
                  </ul>
          </div>
        </div>

         <div class="model--item">
          <div class="col--unit__4">
              <h4 class="modele--type">Anet ET4</h4>
          </div>
          <div class="collapse--btn">
            <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"></path>
              </svg>

              <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.75 0V23.5" stroke="white" stroke-width="2"></path>
              <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"></path>
              </svg>
          </div>
          <div class="col--unit__8 model--content">
              <img src="images/equipments/Anet-ET4.jpg" alt="" class="model--img">
              <ul class="ul--listing dash--list">
                   <li><span class="entitled">Type:</span><span class="entitled--desc"> Particulier/bureau</span></li>
                   <li><span class="entitled">Technologie:</span><span class="entitled--desc">    Fused Deposition Modelling (FDM )</span></li>
                   <li><span class="entitled">Matières:</span><span class="entitled--desc">    ABS, PLA, HIPS, Bois</span></li>
                   <li><span class="entitled">Performances:Volume d'impression maximal:</span><span class="entitled--desc">    220 mm x 220 mm x 250 mm</span></li>
                   <li><span class="entitled">Hauteur de couche minimale: </span><span class="entitled--desc">   100 µm</span></li>
                   <li><span class="entitled">Hauteur de couche maximale: </span><span class="entitled--desc">   300 µm</span></li>
                   <li><span class="entitled">Précision horizontale: </span><span class="entitled--desc">   12 µm</span></li>
                   <li><span class="entitled">Précision verticale: </span><span class="entitled--desc">   4 µm</span></li>
                   <li><span class="entitled">Vitesse d'impression minimale:</span><span class="entitled--desc">    20 mm/s</span></li>
                   <li><span class="entitled">Vitesse d'impression maximale:</span><span class="entitled--desc">    150 mm/s</span></li>
                   <li><span class="entitled">Nombre d'extrudeur(s):</span><span class="entitled--desc">    1</span></li>
                   <li><span class="entitled">Diamètre buse (par défaut):</span><span class="entitled--desc">    0.4 mm</span></li>
                   <li><span class="entitled">Diamètre du filament:</span><span class="entitled--desc">    1.75 mm</span></li>
                   <li><span class="entitled">Lit d'impression: </span><span class="entitled--desc">   verre chauffant</span></li>
                   <li><span class="entitled">Filtre à particules: </span><span class="entitled--desc">   Non</span></li>
                   <li><span class="entitled">Dimensions:</span><span class="entitled--desc">    44 cm x 34 cm x 48 cm</span></li>
                   <li><span class="entitled">Poids:</span><span class="entitled--desc">    7.3 kg</span></li>
                   <li><span class="entitled">Alimentation: </span><span class="entitled--desc">   110/220V</span></li>
                   <li><span class="entitled">Connectivité:</span><span class="entitled--desc">    USB, Micro SD Card</span></li>
                   <li><span class="entitled">Écran de contrôle:</span><span class="entitled--desc">    Couleurs tactile</span></li>
                   <li><span class="entitled">Système d'exploitation: </span><span class="entitled--desc">   Linux, Mac, Windows</span></li>
                   <li><span class="entitled">Logiciel: </span><span class="entitled--desc">   Cura, Repetier, Simplify3D, etc.</span></li>
                   <li><span class="entitled">Format(s) de fichier: </span><span class="entitled--desc">  OBJ, STL, GCODE</span></li>
                  </ul>
          </div>
        </div>
         <div class="model--item">
          <div class="col--unit__4">
              <h4 class="modele--type">Creality Halot One Plus ( imprimante Résine )</h4>
          </div>
          <div class="collapse--btn">
            <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"></path>
              </svg>

              <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.75 0V23.5" stroke="white" stroke-width="2"></path>
              <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"></path>
              </svg>
          </div>
          <div class="col--unit__8 model--content">
              <img src="images/equipments/Halot-One-Plus.png" alt="" class="model--img">
              <ul class="ul--listing dash--list">
                   <li><span class="entitled">Spécifications techniques</span><span class="entitled--desc">  Imprimante 3D Creality Halot Oneplus Résine - Imprimante en résine</span></li>
                   <li><span class="entitled">Marque :</span><span class="entitled--desc">  Creality3</span></li>
                   <li><span class="entitled">Modèle :</span><span class="entitled--desc">  Halot One Plu</span></li>
                   <li><span class="entitled">Technologie d'impression :</span><span class="entitled--desc">  Résin</span></li>
                   <li><span class="entitled">Imprimer :</span><span class="entitled--desc"> 
                  Écran LCD monochrome de 7,9 pouces
                  Résolution LCD (axes XY) : 4320 x 2560 px (4K)
                  Précision de l'axe XY : 0,04 mm
                  Espace d'impression : 172 x 102 x 160 mm
                  Vitesse d'impression : 1-4 s/couche
                  Hauteur de couche : 0,01 ~ 0,2 m</span></li>
                   <li><span class="entitled">Caractéristiques :</span><span class="entitled--desc"> 
                  Écran tactile couleur 5 pouces
                  Source de lumière intégrale UV de 4 500 uw/cm2
                  Langues : anglais, français, allemand, espagnol, portugais, japonais, coréen, turc, italien, russe, néerlandais, polonais, chinois simplifi</span></li>
                   <li><span class="entitled">Matériau :</span><span class="entitled--desc">  résine UV 405 n</span></li>
                   <li><span class="entitled">Logiciel :</span><span class="entitled--desc"> 
                  Slicer : HaloBOX, Lychee Slicer, CHITU BO</span></li>
                   <li><span class="entitled">Méthode de transmission des données :</span><span class="entitled--desc"> 
                  Clé USB
                  Application Creality Cloud
                  Halot Box Wi-F</span></li>
                   <li><span class="entitled">Énergie :</span><span class="entitled--desc"> 
                  Puissance : 100 W
                  Tension : 100-240 V, 50/60 H</span></li>
                   <li><span class="entitled">Dimensions :</span><span class="entitled--desc">  236 x 243 x 418 m</span></li>
                   <li><span class="entitled">Poids :</span><span class="entitled--desc">  6,8 k</span></li>
                   <li><span class="entitled">Couleur :</span><span class="entitled--desc">  Noir/Ble</span></li>

                   <li><span class="entitled">Créalité</span><span class="entitled--desc"> Ender 3 Max</span></li>
                   <li><span class="entitled">Marque</span><span class="entitled--desc"> CREALITY</span></li>
                   <li><span class="entitled">référence</span><span class="entitled--desc"> Ender 3 Max</span></li>
                   <li><span class="entitled">Dimensions</span><span class="entitled--desc"> 513 X 563 X 590 mm</span></li>
                   <li><span class="entitled">Volume d'impression</span><span class="entitled--desc"> 300 X 300 X 340 mm</span></li>
                   <li><span class="entitled">Type de filament</span><span class="entitled--desc"> PLA, TPU, PETG</span></li>
                   <li><span class="entitled">Diamètre du filament</span><span class="entitled--desc"> 1,75 mm</span></li>
                   <li><span class="entitled">Nombre d'extrudeurs </span><span class="entitled--desc">1</span></li>
                   <li><span class="entitled">Diamètre de la buse</span><span class="entitled--desc"> 0,4 mm</span></li>
                   <li><span class="entitled">Température max d'extrusion</span><span class="entitled--desc"> 260°</span></li>
                   <li><span class="entitled">Température max plateau</span><span class="entitled--desc"> 100°</span></li>
                   <li><span class="entitled">précision</span><span class="entitled--desc"> +/- 0,1 mm</span></li>
                   <li><span class="entitled">Épaisseurs couches</span><span class="entitled--desc"> 0,1 mm - 0,4 mm</span></li>
                   <li><span class="entitled">Vitesse d'impression</span><span class="entitled--desc"> &lt;= 180 mm/s</span></li>
                   <li><span class="entitled">Connectivité</span><span class="entitled--desc"> Carte SD, Ethernet</span></li>
                   <li><span class="entitled">Poids</span><span class="entitled--desc"> 9,5 kg</span></li>
                   <li><span class="entitled">Formats de fichiers</span><span class="entitled--desc"> STL, AMF, OBJ</span></li>
                  </ul>
          </div>
        </div>

          <div class="model--item">
          <div class="col--unit__4">
              <h4 class="modele--type">Large UW-02 Washing and Curing Machine( 10.1 Inches)</h4>
          </div>
          <div class="collapse--btn">
            <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"></path>
              </svg>

              <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.75 0V23.5" stroke="white" stroke-width="2"></path>
              <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"></path>
              </svg>
          </div>
          <div class="col--unit__8 model--content">
              <img src="images/equipments/creality-uw-02-washing-curing-machine.png" alt="" class="model--img">
              <p> Caractéristiques </p>
              <p>Machine de lavage et de séchage tout-en-un. Grand espace pour le lavage et le durcissement. Nettoyage automatique intégré de votre modèle imprimé en 3d. Séchage des pièces imprimées en 3D en contrôlant avec précision la lumière, la vitesse et le temps.</p>
              <p> Dimensions de nettoyage du panier de lavage : 240 x160x200mm.
                  Polymérisation complète à 360° : plate-forme rotative de polymérisation par réflexions spéculaires à 360° avec perles LED bi-bande 385 nm et 405 nm, polymérisation complète sans bande morte.
                  Paramètres de vitesse/durée prise en charge.</p>
                  <p>Paramètre de produit :</p>
              <ul class="ul--listing dash--list">
                  <li><span class="entitled">Taille de la machine entièrement fermée :</span><span class="entitled--desc">  325*295*584mm</span></li>
                  <li><span class="entitled">Taille de lavage :</span><span class="entitled--desc">  240*160*200 mm</span></li>
                  <li><span class="entitled">Poids maximal du modèle :</span><span class="entitled--desc">  2,5 kg</span></li>
                  <li><span class="entitled">Longueur d'onde SLA :</span><span class="entitled--desc">  385 nm et 405 nm</span></li>
                  <li><span class="entitled">Type de boîte :</span><span class="entitled--desc">  Entièrement fermée</span></li>
              </ul>
          </div>
        </div>
      <div class="model--item">
          <div class="col--unit__4">
              <h4 class="modele--type"> Scanner 3D  Scanner 3D CREALITY Scan</h4>
          </div>
          <div class="collapse--btn">
            <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"></path>
              </svg>

              <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.75 0V23.5" stroke="white" stroke-width="2"></path>
              <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"></path>
              </svg>
          </div>
          <div class="col--unit__8 model--content">
              <img src="images/equipments/Scanner-3D-creality-Lizad.jpg" alt="" class="model--img">
              <p>Un scanner 3D (tridimensionnel) est un appareil de numérisation et d'acquisition 3D. Un scanner tridimensionnel est un appareil qui analyse les objets ou leur environnement proche pour recueillir des informations précises sur la forme et éventuellement sur l'apparence de ceux-ci.</p>
              <p>Nous disposons d' un ( 01) Scanner 3D CREALITY Scan Lizard, jusqu'à 0,05 mm de précision, numérisation 10 FPS.</p>
             
          </div>
        </div>
   </div>

</div>