<div class="equipment__description">
    <div class="equipment__description--container">
        <div class="col--unit__6 img--wrapper">
          <img src="images/equipments/PERCEUSE-A-COLONNE.png" alt="" srcset="">
        </div>

        <div class="col--unit__6 description--wrapper">
              <h3 class="equipment--title">PERCEUSE À COLONNE 750W ZJ5120</h3>
              <p class="about__description">Caractéristiques:</p>
                <ul class="ul--listing dash--list">
                    <li><span class="entitled">Puissance</span><span class="entitled--desc"> 750W </span></li>
                     <li><span class="entitled">Longueur de câble</span><span class="entitled--desc"> 1,8 m </span></li>
                     <li><span class="entitled">Mandrin</span><span class="entitled--desc"> 20 mm </span></li>
                     <li><span class="entitled">Table de travail</span><span class="entitled--desc"> 290 x 290mm </span></li>
                     <li><span class="entitled">Tension</span><span class="entitled--desc"> 230V/50Hz </span></li>
                     <li><span class="entitled">Taille</span><span class="entitled--desc"> de la base 460 x 272mm </span></li>
                     <li><span class="entitled">Moteur</span><span class="entitled--desc"> Magnétique, fil d'aluminium</span></li>
                </ul>
             <div class="desc--bottom btn--wrapper">
                  <a class="btn btn--primary" href="">Reserver la machine</a>
                  <a class="btn btn--bordered" href="">Se former</a>
              </div>
        </div>
    </div>

</div>