<div class="equipment__description">
    <div class="equipment__description--container">
        <div class="col--unit__6 img--wrapper">
          <img src="images/equipments/Presse-chaud-21x29-cm.png" alt="" srcset="">
        </div>

        <div class="col--unit__6 description--wrapper">
              <h3 class="equipment--title">Presse à chaud pour transfert</h3>
              <p class="about__description">Une presse à chaud ou presse à transfert permet d'imprimer un texte, des logos ou des images sur divers supports. Cette machine fonctionne avec la pression et la chaleur, ce qui permet de transférer sur des supports comme les t-shirt, tasses, assiettes, mugs et bien d’autres.</p>
             <div class="desc--bottom btn--wrapper">
                  <a class="btn btn--primary" href="">Reserver la machine</a>
                  <a class="btn btn--bordered" href="">Se former</a>
              </div>
        </div>
    </div>
</div>