<div class="equipment__description">
    <div class="equipment__description--container">
        <div class="col--unit__6 img--wrapper">
          <img src="images/equipments/coupe-scie-electrique.jpg" alt="" srcset="">
        </div>

        <div class="col--unit__6 description--wrapper">
              <h3 class="equipment--title">SCIE ÉLECTRIQUES</h3>
              <p class="about__description">Description</p>
            <div class="desc--bottom btn--wrapper">
                  <a class="btn btn--primary" href="">Reserver la machine</a>
                  <a class="btn btn--bordered" href="">Se former</a>
              </div>
        </div>
    </div>
    
    <div class="model--list__wrapper">

        <div class="title--wrapper">
          
          <div class="col--unit__4">
              Modèle
          </div>
          <div class="col--unit__8 desc--title">
              Description
          </div>
        </div>

        <div class="model--item active">
            <div class="collapse--btn">
              <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"></path>
              </svg>

              <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.75 0V23.5" stroke="white" stroke-width="2"></path>
              <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"></path>
              </svg>

            </div>

          <div class="col--unit__4">
              <h4 class="modele--type">SCIE CIRCULAIRE 2200W</h4>
          </div>
          <div class="col--unit__8 model--content ">
              <img src="images/equipments/SCIE-CIRCULAIRE-2200W.png" alt="" class="model--img">
                <h4 class="modele--caracteristic__title">Caractéristiques</h4>
              <ul class="ul--listing dash--list">
                      <li><span class="entitled"> Tension:</span><span class="entitled--desc"> 220-240V ~ 50  / 60Hz</span></li>
                      <li><span class="entitled">Puissance d'entrée:</span><span class="entitled--desc"> 2200W </span></li>
                      <li><span class="entitled">Vitesse à vide:</span><span class="entitled--desc"> : 3800 rpm</span></li>
                      <li><span class="entitled"> Capacité de coupe:</span><span class="entitled--desc"> 45 degrés: 65mm 90 degrés: 80mm </span></li>
                      <li><span class="entitled">Diamètre de la lame: </span><span class="entitled--desc"> 235 mm </span></li>
                      <li><span class="entitled">Boîtier en aluminium</span></li>
                      <li><span class="entitled"> Profondeur de coupe réglable</span></li>
                      <li><span class="entitled">Coupe biseautée réglable Avec lame 1CT 60T</span></li>
                  </ul>
          </div>
        </div>
        
        <div class="model--item">
          <div class="col--unit__4">
              <h4 class="modele--type">SCIE À ONGLET</h4>
          </div>
          <div class="collapse--btn">
            <svg class="svg--open" width="24" height="3" viewBox="0 0 24 3" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 1.75L23.5 1.75" stroke="white" stroke-width="2"></path>
              </svg>

              <svg class="svg--closed" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.75 0V23.5" stroke="white" stroke-width="2"></path>
              <path d="M0 11.75L23.5 11.75" stroke="white" stroke-width="2"></path>
              </svg>
          </div>
          <div class="col--unit__8 model--content">
              <img src="images/equipments/scie-a-onglet-radiale-tacklife-pms01x.jpg" alt="" class="model--img">
              <p>La scie à onglet aussi très souvent appelée scie radiale, permet de couper précisément et d'une manière efficace des angles de 45 ou 90° sur des pièces peu larges, ainsi que de réaliser des coupes transversales propres. Ce type de scie est indispensable par exemple pour couper des plinthes, des tasseaux, des lambourdes ou encore du lambris.</p>
          </div>
        </div>
   </div>

</div>