<form action="" class="default--form create--form">
    <h3 class="create--form__title">Créer un nouvel article de blog</h3>
    <div class="input--wrapper">
            <input type="email" name="" id="" placeholder="Titre">
        </div>
    <div class="input--wrapper">
            <input type="text" name="" id="" placeholder="Descriptif">
    </div>

    <div class="input--wrapper">
        <input type="text" name="" id="" placeholder="Iimage de couverture">
</div>
    <input class="btn btn--secondary" type="submit" value="Suivant">
</form>